@media screen and (max-width: 767px) {
    .wrapper{
        width: 250px;
    }
    .headder{
        width: 100%;
    }
    .right{
        width: 100px;
    }
    .footer{
        width: 100%;
    }
}

@media  screen and (max-width: 479px) {
    .wrapper{
        width: 150px;
    }
    .headder{
        width: 100%;
    }
    .contents{
        height: 500px;
    }
       
    .left{
        float: none;
    }
    .right{
        float: none;
        width: 100%;
    }
    .footer{
        width: 100%;
    }
    
}